*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #272829;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px;
    transition: all .50s ease;
}
.logo{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.logo i{
    color: antiquewhite;
    font-size: 25px;
    margin-right: 10px;
}
.logo span{
    color: antiquewhite;
    font-size: 17px;
    font-weight: 600;
}
.navbar{
    display: flex;
}
.navbar a{
    color: antiquewhite;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 0;
    margin: 30px;
    transition: all .50s ease;
}
.navbar a:hover{
    color: aquamarine;
}
.main{
    display: flex;
    align-items: center;
}
.main a{
    margin-left: 20px;
    margin-right: 10px;
    color: antiquewhite;
    font-size: 1.0rem;
    font-weight: 500;
    transition: all .50s ease;
}
.main a:hover{
    color: aquamarine;
}
.user i{
    color: aqua;
    font-size: 17px;
    margin-left: 13px;
}
#menu-icon{
    font-size: 35px;
    color: antiquewhite;
    cursor: pointer;
    z-index: 10001;
}